<!DOCTYPE html>
<html lang="en">
<head>
  <title>Podcast 123 | Discover Great Podcasts</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content='Podcast Search Simplified'>
  <meta name="author" content="Neil Patel">

</head>
<body>

    <% if alert %>
       <div id="notice_wrapper">
          <p class="alert"><%= alert %></p>
      </div>
    <% elsif notice %>
      <div id="notice_wrapper">
        <p class="notice"><%= notice  %></p>
      </div>
    <% end %>

    <% unless current_page?(root_path) %>
    <%= render 'layouts/header' %>
<% end %>

<%= yield %>

<script>
  $(document).ready(function() {
    setTimeout(function() {
      $('#notice_wrapper').fadeOut("slow", function() {
       $this.removal();
      });
  }, 1500 );
});
</script>
</body>
</html>
